html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--background);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.theme-light {
  --primary: #6200ee;
  --secondary: #03dac6;
  --background: #ededed;
  --text-color: #000000;
}

.theme-dark {
  --primary: #bb86fc;
  --secondary: #03dac6;
  --background: #121212;
  --text-color: #ffffff;
}

nav {
  width: 100%;
  height: 80px;
  background: #000;
  position: fixed;
  top: 0;
}

ul {
  float: right;
  margin-right: 30px;
  margin-top: -40px;
}

li {
  list-style: none;
  display: inline;
  margin-left: 50px;
  cursor: pointer;
}

li a:hover {
  color: var(--primary);
}

li a {
  text-decoration: none;
  color: #fff;
}

ul li.active a {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: bold;
}

nav #icon {
  display: none;
}

.toggle {
  width: 80px;
  margin: 20px;
  position: relative;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border: 2px solid var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 20px;
  width: 50px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 25px;
  width: 25px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(30px);
}

.fa-moon-o, .fa-sun-o {
  color: var(--primary);
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  display: none;
}

.child {
  scroll-snap-align: start;
  display: flex;
  flex-flow: column;
}

.home {
  width: 100%;
  margin-top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home .head {
  margin: 0;
}

.home .image {
  width: 50%;
  height: 100%;
  align-self: flex-end;
  background: url("bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-position-x: -40px;
}

.home .image img {
  width: auto;
  height: 100%;
}

.home h1, span {
  font-size: 50px;
  color: var(--primary);
}

.home h3 {
  color: var(--text-color);
  font-size: 30px;
}

.home button {
  background: none;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.4), -2px -2px 2px rgba(10, 10, 10, 0.4);
  color: var(--secondary);
  cursor: pointer;
  font-size: 15px;
  text-shadow: 1px 1px #000;
  margin: 0 180px;
}

.left {
  width: 400px;
  height: 80vh;
  background: linear-gradient(45deg, var(--secondary), var(--primary));
  border-radius: 40px;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.4), 5px 5px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--text-color);
  margin: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 15vh;
  visibility: visible;
}

.left h2 {
  color: var(--background);
}

.left p {
  color: var(--text-color);
  margin-top: 0;
}

.left img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 80px;
}

.left .social {
  margin-top: 65px;
}

.left .social a {
  border-radius: 0;
  margin: 15px;
  font-size: 30px;
  color: #000;
}

.about, .edu, .projects, .contact {
  margin-left: 600px;
  width: 750px;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.about h2, .projects h2 {
  margin: 20px 0 0 30px;
  font-size: 2.5em;
  color: var(--primary);
}

.about p {
  margin: 30px 0 0 60px;
  color: var(--text-color);
  font-size: 30px;
}

.edu1 {
  margin: 20px 0 0 20px;
  width: 700px;
  height: 40vh;
  border-radius: 20px;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.4), 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.skills {
  margin: 20px 0 0 20px;
  width: 700px;
  height: 40vh;
  border-radius: 20px;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.4), 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.edu1 h2, .skills h2 {
  margin: 10px 0 0 30px;
  font-size: 2.5em;
  color: var(--primary);
}

.edu1 h3 {
  color: var(--text-color);
  margin: 10px 0 0 100px;
  line-height: 8px;
}

.edu1 h4 {
  color: var(--text-color);
  opacity: .5;
  margin: 0 0 0 150px;
  line-height: 15px;
}

.skills h3 {
  color: var(--text-color);
  margin: 15px 0 0 100px;
  line-height: 8px;
}

.projects .card {
  width: 300px;
  height: 200px;
  margin: 100px auto;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.4), 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects a {
  text-decoration: none;
}

.projects .card img {
  width: 120px;
  height: auto;
}

.projects .card p {
  font-size: 1.25em;
  color: var(--text-color);
}

.contact h2 {
  margin: 20px 0 0 30px;
  font-size: 2.5em;
  color: var(--primary);
}

.contact .box {
  width: 95%;
  height: 74%;
  margin: 50px 0 0 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.4), 5px 5px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
}

.contact .box span {
  margin: 70px 0;
  height: 75%;
  width: 1px;
  background: #555;
  opacity: 0.3;
}

.contact .details, .contact .form {
  margin: 40px 0;
  width: 320px;
}

.contact .box .details h3 {
  text-align: center;
  color: var(--secondary);
}

.contact .box .details h2 {
  margin: 30px 0 10px 40px;
  font-size: 25px;
  color: var(--primary);
}

.contact .box .details p {
  margin: 10px 60px;
  font-size: 18px;
  color: var(--text-color);
}

.contact .box .form h3 {
  text-align: center;
  color: var(--secondary);
}

.contact .box .form h2 {
  margin: 50px 0 10px 40px;
  font-size: 25px;
  color: var(--primary);
}

.contact .box .form input, .contact .box .form textarea {
  margin: 60px 0 0 60px;
  width: 60%;
  border: none;
  outline: none;
  background: none;
  color: var(--text-color);
  font-size: 15px;
  border-bottom: 1px solid#000;
}

.contact .box .form input::placeholder, .contact .box .form textarea::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

.contact .box .form button {
  width: 80px;
  height: 30px;
  margin-top: 50px;
  margin-left: 35%;
  border-radius: 20px;
  border: none;
  background: none;
  outline: none;
  color: var(--primary);
  font-weight: 800;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.4), 1px 5px 10px rgba(0, 0, 0, 0.4);
}

.contact .box .form button:hover {
  color: var(--secondary);
}

.contact .box .form .thank h4 {
  display: none;
}

.contact .box .form .thank.show h4 {
  text-align: center;
  color: var(--text-color);
  display: block;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    visibility: hidden;
    margin: 10vh -130px 0 0;
    width: 150px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }
  nav ul.show {
    visibility: visible;
  }
  nav ul li {
    font-size: 20px;
    margin: 30px 0;
  }
  nav #icon {
    display: flex;
    float: right;
    margin: 20px;
    color: var(--primary);
    font-size: 30px;
  }
  .container {
    overflow-x: hidden;
  }
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .home .head {
    margin: 0 auto;
  }
  .home .image {
    background: var(--background);
    margin: 0 300px;
  }
  .home h1, span {
    margin: 20px;
    font-size: 30px;
  }
  .home h3 {
    margin: 0 45px;
    font-size: 20px;
  }
  .home button {
    margin: 15px 135px;
    font-size: 15px;
  }
  .about, .edu, .projects, .contact {
    width: 90vw;
    height: 100vh;
  }
  .about h2, .projects h2, .contact h2 {
    margin: 20px 0 0 5px;
    font-size: 30px;
  }
  .about p {
    margin: 30px;
    font-size: 5vw;
  }
  .edu1 {
    margin: 30px auto;
    width: 90vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4);
  }
  .edu1 h3 {
    color: var(--text-color);
    margin: 10px 0 0 60px;
    line-height: 8px;
    font-size: 15px;
}
.edu h4 {
  margin-left: 80px;
}
  .skills {
    margin: 30px auto;
    width: 90vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.4), 5px 5px 5px rgba(0, 0, 0, 0.4);
  }
  .skills h3 {
    color: var(--text-color);
    margin: 10px 0 0 60px;
    line-height: 8px;
    font-size: 20px;
}
  .contact .box {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    height: 70%;
  }
  .contact .details {
    margin: 20px 20px 0 20px;
    width: auto;
    height: 40%;
  }
  .contact .box .details h3, .contact .box .form h3 {
    font-size: 10px;
    margin: 10px 0;
  }
  .contact .box .details h2 {
    margin: 40px 0 5px 40px;
    font-size: 15px;
    color: var(--secondary);
  }
  .contact .box .details p {
    margin: -25px 0 0 1500px;
    font-size: 10px;
    color: var(--text-color);
  }
  .contact .box span {
    margin: 10px 70px;
    height: 1px;
    width: 75%;
    background: #555;
    opacity: 0.5;
  }
  .contact .form {
    margin: 0 20px 0 20px;
    width: auto;
    height: 50%;
  }
  .contact .box .form h2 {
    margin: 30px 0 5px 40px;
    font-size: 35px;
  }
  .contact .box .form input, .contact .box .form textarea {
    margin: 15px 0 0 60px;
    width: 60%;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    color: var(--text-color);
    border-bottom: 1px solid#000;
  }
  .contact .box .form input::placeholder, .contact .box .form textarea::placeholder {
    color: var(--text-color);
    opacity: 0.5;
    font-size: 8px;
  }
  .contact .box .form button {
    width: 120px;
    height: 50px;
    margin: 30px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .left {
    display: none;
  }
  .about, .edu, .projects, .contact {
    margin-left: 30px;
    width: 90vw;
    height: 100vh;
  }
  .edu1, .skills {
    width: 90vw;
  }
}